@import "normalize.css";
@import "selectors.css";
@import "elements-form.css";
@import "loader.css";
@import "z-index.css";

ul, li, input, button, textarea,
h1, h2, h3, h4, h5, h6,
p {
    padding: 0;
    margin: 0;
}

li, ol {
    list-style: none;
}

input, button, textarea {
    border: none;
    outline: none;
}

input[type="radio"],
input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
}

*:disabled, button {
    background-color: transparent;
}

*, *::before, *::after {
    color: #1a237e;
    font-family: Arial;
    box-sizing: border-box;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title2,
.title3,
.text_small {
    word-break: break-word;
}

.title2 {
    font-size: 20px;
}

.title3 {
    font-size: 16px;
}

.text_small {
    font-size: 14px;
}

.label-mark {
    font-size: 12px;
    color: #9e9e9e;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 10px 10px 0;
}

.label-mark__button {
    text-decoration: underline;
    color: #304ffe;
    cursor: pointer;
}

.label-mark__button:hover {
    text-decoration: none;
}

.label-mark__mark {
    display: block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.info-message {
    background-color: #0091ea;
    border-radius: 7px;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

.info-message::before {
    content: "i";
    font-family: "Times New Roman", serif;
    font-style: italic;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
}
