.popup-create-task__view-form {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.popup-create-task__view-form .title2 {
    margin-bottom: 20px;
}

.popup-create-task__view-form .text_small {
    margin-bottom: 10px;
}

.popup-create-task__time-form {
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popup-create-task__submit-time-wrapper {
    margin-top: auto;
}

.popup-create-task__submit-time-wrapper > .button {
    margin-left: auto;
}

.popup-create-task__time-and-comments {
    border-top: 1px solid #9e9e9e;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.popup-create-task__time-and-comment {
    display: inline-block;
    background-color: #1a237e;
    padding: 15px 20px 10px;
    border-radius: 7px;
    position: relative;
    margin-bottom: 10px;
    margin-left: 10px;
}

.popup-create-task__time-and-comment::before {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    z-index: 1;
    left: -5px;
    bottom: 20px;
    transform: rotate(45deg);
    background-color: #1a237e;
}

.popup-create-task__time-and-comment_my {
    margin-left: auto;
    margin-right: 10px;
    background-color: #304ffe;
}

.popup-create-task__time-and-comment_my::before {
    left: auto;
    right: -5px;
    background-color: #304ffe;
}

.popup-create-task__time-and-comment > .title3 {
    color: #eeeeee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.popup-create-task__time-and-comment > .text_small {
    padding-top: 10px;
    padding-left: 10px;
    color: #eeeeee;
}

.popup-create-task__delete-button-time-and-comment {
    display: block;
    position: relative;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    flex: 0 0 15px;
}

.popup-create-task__delete-button-time-and-comment::before,
.popup-create-task__delete-button-time-and-comment::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: #eeeeee;
    position: absolute;
    top: 50%;
    left: 50%;
}

.popup-create-task__delete-button-time-and-comment::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.popup-create-task__delete-button-time-and-comment::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-create-task__comment-form {
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 20px;
}

.popup-create-task__view-settings-selector-statuses {
    border-top: 1px solid #9e9e9e;
    margin-top: 20px;
    padding-top: 20px;
}

@media screen and (min-width: 576px) {
    .popup-create-task .popup__body {
        max-width: 95vw;
    }
}

@media screen and (min-width: 1024px) {
    .popup-create-task .popup__body {
        max-width: 1000px;
    }

    .popup-create-task__view-form {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .popup-create-task__view-settings-selector-statuses {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }

    .popup-create-task__view-task {
        flex: 0 0 48%;
    }

    .popup-create-task__time-and-comments {
        max-height: 50vh;
        overflow: auto;
    }

    .popup-create-task__view-settings{
        flex: 0 0 48%;
    }
}
